<form action="/answer" class="form">
  <div class="mb-3 ask">
    <p>Ask you coach anything!</p>
    <input type="text" class="form-control" name="question" placeholder="What do you want to ask?">
  </div>
  <button type="submit" class="but btn btn-primary">Submit</button>
</form>
